.main {
  display: flex;
	align-items: center;
	justify-content: space-evenly;
  overflow: hidden;
	background-color: orange;
}
.main h2{
	color: white;
	font-size: 30px;
}
.webPageLinks{
	color: white;
	font-size: 25px;
}
.wpl{
padding: 1.5em;
color: black;
text-decoration: underline;
}
.center{
	padding: 20px;
}
.easteregg{
	color: orange;
	margin-left: 1em;
}
.easteregg:hover{
	color: white;
	cursor: pointer;
}
@media(min-width: 601px){
	.language{
		justify-content: center;
		align-items: center;
	}
	.languageChoise{
		display: flex;
	}
	.wpl{
		font-size: 20px;
		padding: 1em;
		color: black;
		text-decoration: underline;
	}
	.main h2{
		color: white;
		font-size: 20px;
	}
	.webPageLinks{
		display: flex;
		flex-direction: column;
	}
}
