.main {
  display: flex;
	align-items: center;
	justify-content: space-between;
  overflow: hidden;
	background-color: orange;
}
.main h2{
	color: white;
	font-size: 30px;
}
.webPageLinks{
	color: white;
	font-size: 25px;
}
.wpl{
padding-right: 2em;
}
.center{
	padding: 2rem;
}
.easteregg{
	color: orange;
	margin-left: 1em;
}
.easteregg:hover{
	color: white;
	cursor: pointer;
}
