.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
}

.description {
  display: inherit;
  flex-direction: column;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  margin: 0;
  padding: 1rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}
.contactLinks{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.contactLinks:hover{
  cursor: pointer;
}
.profilePicture1{
  border-radius: 50%;
}
.profilePicAndContact{
  display: flex;
  flex-direction: row;
}
.grid2{
  display: grid;
  grid-template-columns: repeat(2, minmax(25%, auto));
  max-width: 100%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card2{
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  border: 1px solid orange;
  margin-bottom: 1rem;
  max-width: 400px;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  border: 1px solid orange;
  margin-bottom: 1rem;
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}


/*contact form that is centered*/
.center {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: rgb(252, 221, 163);
  border-radius: var(--border-radius);
  border: 2px solid orange;
  margin: 2em;
}
.formSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
  padding: 0.5em;
}
.inputField{
  height: 35px;
  width: 300px;
  border-color: orange;
  border: 1px solid orange;
  border-radius: var(--border-radius);
  padding: 0.5em;
  margin-bottom: 1em;
}
.inputFieldMsg{
  height: 200px;
  width: 300px;
  border-radius: var(--border-radius);
  padding: 0.5em;
  border: 1px solid orange;
  margin-bottom: 2em;
}
.sendButton{
  background-color: orange;
  border-color: 2px solid rgb(129, 84, 0);
  width: 150px;
  justify-content: center;
  display: flex;
  border-radius: var(--border-radius);
  height: 35px;
}

.logo {
  position: relative;
}

.graphs{
  height: 25px;
  min-width: 200px;
  margin: 0 auto 20px;
  font-size: 14px;
  padding: 0 10px 10px 10px; 
  position: relative;
}
.graphs::before{
content: '';
width: 100%;
position: absolute;
left: 0;
height: 25px;
top: 0;
z-index: -2;
background: rgb(230, 201, 173);
border-radius: 50px;
}

.graphs::after{
content: '';
background: rgb(237, 150, 100);
height: 25px;
transition: 0.8s;
display:block;
width: 100%;
animation: animate 1 4s;
position: absolute;
top: 0;
left: 0;
z-index: -1;
border-radius: 50px;
}
.graphs.first::after{
  max-width: 70%;
}
.graphs.second::after{
  max-width: 80%;
}
.graphs.third::after{
  max-width: 80%;
}
.graphs.fourth::after{
  max-width: 25%;
}
.graphs.fifth::after{
  max-width: 100%;
}
.graphs.sixth::after{
  max-width: 80%;
}
@keyframes animate {
  0% {
      width: 0;
      border-radius: 50px;
  }
  100% { 
      width: 100%;
      border-radius: 50px;
  }
  } 
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
  .profilePicAndContact{
    display: flex;
    flex-direction: column;
  }
  .grid2{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
